@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	html {
		font-family:  "Nunito Sans", sans-serif;
	}

	h1 {
		font-family:  "Syne", sans-serif;
	}

	h2 {
		font-family:  "Inter", sans-serif;
	}

	.hoveranimation {
		@apply transition duration-300 ease-in-out hover:-translate-y-1 hover:scale-110;
	}
}